<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://106.55.99.196/static/library/bootstrap.min.css" rel="stylesheet">
    <script src="http://106.55.99.196/static/library/bootstrap.min.js"></script>
    <script src="http://106.55.99.196/static/library/jquery-1.7.2.js"></script>
    <script src="http://106.55.99.196/static/library/vue.js"></script>
    <script src="http://106.55.99.196/static/js/function.js"></script>
    <script src="http://106.55.99.196/static/library/axios.js"></script>
    <link rel="stylesheet" href="http://106.55.99.196/static/css/signin.css">
    <title>金饭网注册</title>
    <style>
        .img_bg {
            width: 65%;
            height: 100vh;
            position: fixed;
            left: 0;
            background: url(http://106.55.99.196/static/images/login_bg.jpg);
            background-size: cover;
        }

        .white_bg {
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.4);
        }
    </style>
    <script>
        window.onload = function () {
            //头部Vue实例
            var header = new Vue({
                el: "#header",
                data: {
                    root: "http://106.55.99.196/",
                },
            });
            //主要内容Vue实例
            var main = new Vue({
                el: "#main",
                data: {
                    root: "http://106.55.99.196/",
                    user: "",
                    password: "",
                    repassword: "",
                    error: "",
                },
                methods: {
                    //异步提交表单
                    submitFormData: async function (api) {
                        let formData = new FormData();
                        formData.append("user", this.user);
                        formData.append("password", this.password);
                        formData.append("repassword", this.repassword);
                        var res;
                        await axios
                            .post("http://106.55.99.196/" + api, formData)
                            .then(response => {
                                res = response.data;
                            })
                            .catch(error => {
                                console.log(error);
                            })
                        switch (res) {
                            case 0:
                                this.error = "该用户名已存在，请重试！";
                                break;
                            case 1:
                                this.error = "注册成功！";
                                setTimeout(() => {
                                    window.location.href = this.root + "login/login";
                                }, 2000);
                                break;
                        }
                    },
                    //验证所有
                    validateAll: function (e) {
                        e.preventDefault();
                        if (!this.user) {
                            this.error = "用户名不能为空！";
                        }
                        else if (!this.password) {
                            this.error = "密码不能为空！";
                        }
                        else if (!this.repassword) {
                            this.error = "请再次输入密码！";
                        }
                        else if (this.password != this.repassword) {
                            this.error = "两次密码输入不同，请重试！";
                        }
                        else {
                            this.submitFormData("login/signinAuth");
                        }
                    }
                }
            })
        }
    </script>
</head>

<body>
    <!-- 头部开始 -->
    <header id="header">
        <div class="header_bar">
            <a class="logo" :href="root+'incruit/index'">
                <img class="logo_img" src="http://106.55.99.196/static/images/logo.png">
                <p class="logo_cont">金饭网</p>
            </a>
            <ul class="header_bar_nav">
                <li><a :href="root+'incruit/index'">首页</a></li>
            </ul>
        </div>
    </header>
    <!-- 头部结束 -->
    <!-- 主要内容开始 -->
    <main id="main">
        <!-- 背景图片 -->
        <div class="img_bg">
            <div class="white_bg"></div>
        </div>
        <!-- 登录框 -->
        <div class="login_area">
            <div class="login_signin">
                <a :href="root+'login/login'">登 录</a>
                <a :href="root+'login/signin'">注 册</a>
            </div>
            <form @submit="validateAll($event)" class="signin_form" action="#" method="post">
                <input class="user_input" type="text" name="user" v-model="user" placeholder="用户名">
                <input class="pwd_input" type="password" name="password" v-model="password" placeholder="密码">
                <input class="re_pwd_input" type="password" name="repassword" v-model="repassword" placeholder="密码">
                <input class="sub_btn" type="submit" value="注 册">
                <p class="login_link">已有账号？<a :href="root+'login/login'">立即登录</a></p>
                <p class="error_remind text-danger">{{error}}</p><!-- 输入错误时报错 -->
            </form>
        </div>
    </main>
    <!-- 主要内容结束 -->
</body>

</html>